body {
    background: #deffd9;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: "Times New Roman";
    text-shadow: 2px 2px 5px rosybrown;
}


th {
    background-color: silver;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


input[type=text] {
    border: 2px black;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 8px 0;
}

select {
    width: 60px;
    height: 25px;
    background: #fffaf1;
    position: relative;
    font-family: Arial;
}

.submit {
    background-color: #e4eaff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}